body{
    background: rgb(255, 251, 240);
  
}


body.home{
    background: url(images/pollock.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.blog{
    background: url(images/rousseau.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-h2{
    color:black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
    
  }

.research-fields{
    font-size: 2.75vmin;
    color:white;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
}

.about-me-img{
    height: auto;
    max-width: 70%;
    
}

.bitcoin{
    
    width: 12%;
    
    margin-left: auto;
    margin-right: auto;
   
    
}

footer {
    position: absolute;
    width: 100%;
    
    
  }



.nav-link {
    font-size: 150%;
  }

  .navbar-nav{
      padding-right: 30px;
  }

  .nav-item{
      padding-right: 30px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
    position: relative;
  }


  nav li a::before{
      content: '';
      display: block;
      height: 5px;
      background-color: ivory;
      position: absolute;
      top: 0;
      width:0%;
      transition: all ease-in-out 250ms;
  }

  nav a:hover::before{
      width:60%;
  }

  .navbar-brand{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
    

  }

.card-title {
    font-size: 150%;
  }

  .card-subtitle {
    color: grey;
    padding-bottom:5%
  }
  
  .card:hover{
    background-color: rgb(232, 232, 230);
  }

.technologies{
    color:grey;
}

.home-text{
    color:white;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;

}

[class*="col-"] {
    padding: 1rem;
}

.padding {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:6%;
    padding-right:6%;
  }





div.btc-label {
    line-height: 50%;
  }