body{
    background: ghostwhite;
  
}


body.home{
    background: url(images/rain_wallpaper.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-h2{
    color:black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
  }

.about-me-img{
    height: auto;
    max-width: 70%;
    
}

footer {
    position: absolute;
    width: 100%;
    
    
  }

  .navbar-custom {
    background-color: lightgreen;
}



.nav-link {
    font-size: 150%;
  }

  .navbar-nav{
      padding-right: 30px;
  }

  .nav-item{
      padding-right: 30px;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
    position: relative;
  }


  nav li a::before{
      content: '';
      display: block;
      height: 5px;
      background-color: ivory;
      position: absolute;
      top: 0;
      width:0%;
      transition: all ease-in-out 250ms;
  }

  nav a:hover::before{
      width:60%;
  }

  .navbar-brand{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;
    

  }


  .card-subtitle {
    color: grey;
    padding-bottom:5%
  }
  
  .card:hover{
    background-color: rgb(232, 232, 230);
  }

.technologies{
    color:grey;
}

.card-img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}

.home-text{
    color:white;
    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica;

}